.container {
  position: relative;
  padding: 0;
  margin: 0 0 0 10px;
  flex-grow: 1;
  height: auto;
  // width: 200px;
}

// .container:nth-child(2n) {
//   margin: 0 10px 0 0;
// }

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  opacity: 1;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text:hover {
  text-decoration: none;
}
