.page-body {
  &__portfolio {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100vw;
    height: 97vh;

    &--left {
      padding: 60px 0 10px 0;
      flex: 1 1 50vw;
      order: 1;
      min-width: 387px;

      .portfolio-component {
        margin-left: 100px;
        margin-right: 40px;

        @media (max-width:992px) {
            margin-left: 20px;
        }


        &__container {
          margin-top: 2rem;
          margin-bottom: 1rem;
          display: flex;

          &--subheading {
            text-align: left;
            padding: 10px 0 0 0;
          }

          .view {
            border: 5px solid white;
          }

        }
      }
    }

    &--right {
      background-color: #b4b4b4;
      height:97vh;
      flex: 2 2 50vw;
      order: 2;
      min-width: 387px;
    }

    @media screen and (max-width: 768px) {
      position: relative;
      top: 70px;
      -webkit-flex-direction: column;
      flex-direction: column;
      height: 94vh;

      &--left {
          order: 2;
          padding: 50px 0 10px 0;
      }
      &--right {
          order: 1;
          min-height: 35vh;
          max-height: 35vh;
      }
    }
  }
}
