<div class="page-body__portfolio">
  <div class="page-body__portfolio--left">
    <div class="portfolio-component">
      <div class="portfolio-component__container">
        <p class="portfolio-component__container--subheading">Applications Coming Soon</p>
          <!-- TODO -->
      </div>
    </div>
  </div>
  <div class="page-body__portfolio--right">
    <slideshow
      [imageUrls]="imageUrls"
      [showArrows]="false"
      [lazyLoad]="imageSources?.length > 1"
      [autoPlay]="true"
      [autoPlayInterval]="5000">
    </slideshow>
  </div>
</div>
