<div class="page-body__portfolio">
  <div class="page-body__portfolio--left">
    <div class="portfolio-component">
      <div class="portfolio-component__container">
      
        <div class="row pb-3">
          <div class="col-sm">
            <div class="view overlay">
              <img src="https://images.ctfassets.net/43i5e5k8e66i/J6F5SWf6uWQ2yAGsSayMM/c0c9daa6fda2775a0494c71c0261770d/FYP_Logo.png" class="img-fluid " alt="">
              <div class="mask flex-center rgba-blue-strong">
                  <p class="white-text">ADD TEXT</p>
              </div>
            </div>
          </div>

          <div class="col-sm">
            <div class="view overlay">
              <img src="https://images.ctfassets.net/43i5e5k8e66i/3uqgEDpiPCCkgiaCYEc2AQ/caac50700a2817823af9553badf8fddb/favicon.png" class="img-fluid" alt="">
              <div class="mask flex-center rgba-blue-strong">
                  <p class="white-text">ADD TEXT</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="page-body__portfolio--right">
    <slideshow
      [imageUrls]="imageUrls"
      [showArrows]="false"
      [lazyLoad]="imageUrls?.length > 1"
      [autoPlay]="true"
      [autoPlayInterval]="5000">
    </slideshow>
  </div>
</div>
