.page {
    //page sections below
    &__header {
        position: absolute;
        z-index: 10;
        top:0
    }

    &__body {
        position: absolute;
        z-index: 5;
        padding: 10px;
        color: white;
        width: 100%;
        text-align: center;
    }

    &__footer {
        position: absolute;
        z-index: 10;
        bottom: 0;
        width: 100%;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;

        &__socialButton {
            text-align: center;

            a {
                margin: 5px;
            }
        }

        &__copyright {
            text-align: center;
        }
    }
}
