.page {
    &__left {
        position: absolute; 
        left: 0; 
        width: 50%;

        //page sections below
        &--header {
            height: 60px;

            .navbar { 
                padding:  0.5rem 0;
                cursor: pointer;

                .active > .nav-link {
                    color: #80E3FF;
                }

                .nav-link {
                    color: #b4b4b4;
                }

                .nav-link:hover {
                    color: white;
                }
            }
        }

        &--body {
            height: 100%;
        }
    }

    &__right {
        position: absolute; 
        right: 0; 
        width: 50%;
        height:100%;
        background-color: #b4b4b4;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgb(37, 37, 37);
        padding: 1rem 0 1rem 0;

        &__socialButton {
            text-align: center;

            a {
                margin: 5px;
                color: white;
                text-decoration: none;
            }
        }

        &__copyright {
            text-align: center;
        }
    }
}
