<header class=page__header>

</header>

<!-- body -->
<div class=page__body>
  <app-home-component></app-home-component>
  <app-portfolio-component></app-portfolio-component>
  <app-contact-component></app-contact-component>
</div>
<!-- /.body -->

<!--Footer-->
<footer class="page__footer">

  <!--Social buttons-->
  <div class="page__footer__socialButton">
      <a class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter-square fa-2x" aria-hidden="true"> </i></a>
      <a class="btn-floating btn-small btn-gplus waves-light" mdbRippleRadius><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"> </i></a>
      <a class="btn-floating btn-small btn-li waves-light" mdbRippleRadius><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"> </i></a>
      <a class="btn-floating btn-small btn-git waves-light" mdbRippleRadius><i class="fa fa-github-square fa-2x" aria-hidden="true"> </i></a>
  </div>
  <!--/.Social buttons-->

  <hr>

  <!--Copyright-->
  <div class="page__footer__copyright">
      <div class="container-fluid">
          © 2018 Copyright: Michael Beaseley 
      </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
