<div class="page-body__portfolio">
  <div class="page-body__portfolio--left">
    <div class="portfolio-component">
      <div class="portfolio-component__container">
        <hr>
        <!-- TODO -->
        <!-- <a href="#" class="hvr-fade">Fade</a> -->
        <div class="container">
          <img src="../../assets/favicon.ico" alt="Avatar" class="image">
          <div class="overlay">
            <a href="#" class="text">+</a>
          </div>
        </div>

        <div class="container">
            <img src="../../assets/favicon.ico" alt="Avatar" class="image">
            <div class="overlay">
              <a href="#" class="text">+</a>
            </div>
        </div>

        <hr>

      </div>
    </div>
  </div>
  <div class="page-body__portfolio--right">
    <slideshow
      [imageUrls]="imageUrls"
      [showArrows]="false"
      [lazyLoad]="imageUrls?.length > 1"
      [autoPlay]="true"
      [autoPlayInterval]="5000">
    </slideshow>
  </div>
</div>

../../assets/favicon.ico