<div class="page-body__portfolio">
  <div class="page-body__portfolio--left">
    <div class="portfolio-component">
      <div class="portfolio-component__container">
        <!-- TODO -->
        <!-- <a href="#" class="hvr-fade">Fade</a> -->
        <app-hover-box></app-hover-box>

      </div>
    </div>
  </div>
  <div class="page-body__portfolio--right">
    <slideshow
      [imageUrls]="imageUrls"
      [showArrows]="false"
      [lazyLoad]="imageUrls?.length > 1"
      [autoPlay]="true"
      [autoPlayInterval]="5000">
    </slideshow>
  </div>
</div>
