<div class="home-component">
  <div class="home-component__container">
    <div class="home-component__container--heading">
      <h1><span>MY</span></h1>
      <h1><span>NAME</span></h1>
      <h1><span>IS:</span></h1>
      <h2><span>MICHAEL</span></h2>
      <h2><span>BEASELEY.</span></h2>
    </div>

    <hr>

    <div class="home-component__container--body">
      <p>Ambitious, passionate and keen to learn, I always strive for success in whatever I do. I enjoy working both as part of a team, or individually using my own initiative. I always put 100% into all the activities I undertake, and am devoted when presented with demanding situations.</p>
    </div>
  </div>
</div>
